<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-header>
      <ion-card-title>Ingresa tus datos:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #form="ngForm">

        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" ngModel name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ngModel name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" ngModel name="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" ngModel name="password" required></ion-input>
        </ion-item>

        <!-- <ion-button expand="full" type="submit" [disabled]="!form.valid">Registrar</ion-button> -->
        <ion-button expand="full" routerLink="/login" [disabled]="!form.valid">Registrar</ion-button>
        <ion-button expand="full" fill="outline" routerLink="/login">Volver a iniciar sesión</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
